
ul.menulist li.left-menu .google-more {
	background-position-x: 438%;
}

#header, .menubar, #footer {
	left: 0
}

#header .search-text {
	line-height: 25px;
	margin-left: 0px;
}

#header .search-button {
	margin-left: -50px;
	margin-top: 1px;
}

div.canvas .canvas-table>div {
	display: inline;
	float: left;
}

.gadget-title {
	overflow: hidden;
}

.icons .gadget-setting-list li {
	float: none;
}

.gadget-content {
	background: #FFF url(../images/gradient.png) repeat-x 0 100%;
}

.gadget-content li {
	padding-left: 5px;
}	


