
ul.menulist li.left-menu .google-more {
	background-position-x: 438%;
}

#header, .menubar, #footer {
	left: 0
}

#header .search-text {
	line-height: 25px;
	margin-left: 0px;
}

#header .search-button {
	display: inline;
	margin-left: -50px;
	margin-top: 0px;
}

div.canvas .canvas-table>div {
	display: inline;
	float: left;
	padding-right: 10px;
}

#header .search-round-corners>* {
	float: left;
}

#header .search-round-corners .right-side {
	top: -1px
}

.gadget-shadow:hover .gadget-title {
	background: url(../images/title-gradient.png) repeat-x top left;
}
.gadget-shadow:hover .icons {
	margin-bottom: 3px;
}

.gadget-title {
	overflow: hidden;
}

.icons .gadget-setting-list li {
	float: none;
}

.gadget-content {
	background: #FFF url(../images/gradient.png) repeat-x 0 100%;
}

.gadget-content li {
	padding-left: 5px;
}	

#footer .footer-more {
	margin-left: 42%;
}


