.overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: black;
	z-index: 102;
	opacity: 0.7;
	display: none;
}

.widget-dialog {
	position: absolute;
	top: 30%;
	left: 30%;
	width: 40%;
	height: 40%;
	z-index: 108;
	border: 3px solid rgb(71, 71, 255);
	border-radius: 20px;
	background: #9FBCD5;
	overflow: auto;
	padding: 10px;	
	display: none
}

.widget-dialog h1 {
	padding: 10px ;
	text-align: center;
}

.widget-form {
	margin-top: 20px;
	font: 24px/30px Arial Sans-serif;
}

.widget-form div {
	margin: 10px auto;
}
.widget-form label {
	width: 250px;
	text-align: right;
	float: left;
	margin-right: 10px;
}
.widget-form input[type=text], .widget-form textarea {
	width: 250px;
	padding: 5px;
	border-radius: 5px;
	border: 2px inset;
}

.widget-form input[type=text] {
	line-height: 24px;
	font: 20px Arial Sans-serif;
}

.widget-form select {
	width: 150px;
	font: 20px/30px Arial Sans-serif;
}

.widget-form .buttons {
	text-align: center;
}

.widget-form button {
	font: 20px/25px Arial Sans-serif;
	margin: 10px 20px;
}