

div#content #sidebar p#arrow {
	float:right;
	background: #ECECEC;
	margin: 0px;
	padding: 5px 3px;
	border: 1px solid #B6B6B6;
	border-top: none;
	border-right: none;
}

div#content #sidebar h4 {
	margin: 1px 5px;
	color: #666;
	padding-top: 3px;
	cursor: pointer;
	font: 13px/24px Arial, sans-serif;
	font-weight: bold;
}

div#content #sidebar h4:hover {
	color: #000;
}

div#content #sidebar #search-contacts {
	height: 16px;
	width: 80%;
	margin: 10px;
	padding: 2px;
	font: 13px Arial, sans-serif;
	border: 1px solid #B6B6B6;
}

div#content #sidebar #users {
	display: block;
	overflow: hidden;
	padding-left: 10px;
	font: 13px Arial, sans-serif;
	list-style: none;
	width: 170px;
	margin-left: 0px;
}

div#content #sidebar #users li {
	padding: 4px;
	padding-left: 15px;
	width: 95%;
	cursor: pointer;
	background: url(../images/icons.png) no-repeat 0%;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 15px;
	height: 13px;
}

div#content #sidebar #users li#hr-line:hover {
	background: white;
}

div#content #sidebar #users li#availability {
	background: #EFEFEF url(../images/arrow-down.png) no-repeat 95%;
	font: 12px Arial, sans-serif;
	width: 75%;
	margin-left: 16px;
	list-style: none;
	padding-left: 4px;
}

div#content #sidebar #users li:hover {
	background-color: #ABD3F8;
}

div#content #sidebar #users li#user:hover {
	background-color: white;
}

div#content #sidebar #users li#hr-line {
	padding: 0px;
	width: 90%;
	list-style: none;
	background: white;
}
