.sidebar button {
	padding: 5px 10px;
	margin: 2px 0;
	width: 55px;
	height: 27px;
	display: block;
	font: 16px/20px Arial, sans-serif;
}

.sidebar .minAll, .sidebar .closeAll {
	display: none;
}
